*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(135, 197, 153);
  font-family: sans-serif;
}

li a {
display: block;
color:rgba(19, 75, 53, 0.877);
padding: 0%;
text-decoration: double;
}

li a:hover {
  color: brown;
}

p {
padding-left: 2%;
}

h1 {
padding-left: 2%;
}

h2 {
padding-left: 2%;
}

img {
width: 30%;
height:auto;
}

.scale {
animation: scale-anim 1s both ease-in-out indefinite alternate;
}