*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(135, 197, 153);
  font-family: sans-serif;
}

.top-space {
  margin-top: 50px;
}
h1 {text-align: center;}